body{
    background-color: rgb(255, 251, 230);
    margin: 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

header{
    background-color: rgb(65, 42, 19);
    height: 50px;
    width: 100%;
    
}


button:hover{
    background-color: gray ;
}

.Fpub{
    padding-right: 10px;
}

button{
    margin-top: 10px;
    width:300px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 25px 10px 25px 10px;
}
p#operacionCliente {
    font-size: 20px;
    font-weight: bold;
    color: rgb(65, 42, 19);
    margin-top: 20px;
}
label {
    font-size: 18px;
    color: rgb(65, 42, 19);
}
select {
    width: 300px;
    height: 40px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgb(65, 42, 19);
    padding: 5px;
}
button:hover {
    background-color: gray;
}
#boton{
    margin-top: 10px;
    width:200px;
    height: 50px;
    
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
}